<div class="navbar navbar-inverse" role="navigation" style="height: 100vh; background-image: url(../static/images/board.jpg); background-size: cover; background-repeat: no-repeat;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class=<br>"icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            
        </div>
        <a class="navbar-brand" href="#aisha" > <h2 style="color: green; align-items: center; padding: 30px;">Click takes you to News</h2> </a>
    </div>

    <div class="banner">
        <span> <h2 style="color: red; text-align: center; padding-top: 200px; font-style: italic;">Welcome to the best News app to ever exsist. This was created with you in mind You <br> can now watch your business news, sports news and enertainment all in one place.</h2></span>
    
    </div>
    
</div>
